<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name = "hbm2ddl.auto">update</property>
        <property name = "dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name = "hibernate.jdbc.time_zone">America/New_York</property>
        <property name = "hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate-test</property>
        <property name = "hibernate.connection.username">root</property>
        <property name = "hibernate.connection.password">t@k3th3Gr3nd3l</property>
        <property name = "hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name = "hibernate.show_sql">false</property>
        <mapping resource = "ToDoTask.hbm.xml"/>

    </session-factory>
</hibernate-configuration>